*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/api/*
/blog/*
/cache/*
/dbbackups/*
/gotcha/*
/newsroom/*
/phpMyBackupPro/*
/pioneer/*
/support/*
/tests/*
/wiki/*